on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
name: Smoke Test
jobs:
  smoke-test:
    runs-on: self-hosted
    steps:
      - name: Clean
        run: rm -rf ${GITHUB_WORKSPACE}/*
      - name: Checkout build scripts
        run: git clone ~/harness.git
      - name: Checkout zbdbench
        run: git clone ~/zbdbench.git harness/rocksdb-context/zbdbench
      - name: Checkout rocksdb
        uses: actions/checkout@v2
        with:
          repository: facebook/rocksdb
          ref: v6.25.3
          path: harness/rocksdb-context/rocksdb
      - name: Checkout zenfs
        uses: actions/checkout@v2
        with:
          path: harness/rocksdb-context/rocksdb/plugin/zenfs
      - name: Run smoke tests
        run: cd harness && make NO_VAGRANT=1 results/zenfs-smoke.xml 
      - name: Remove docker images
        run: docker image prune --force
